body {
  
  font-family:Rubik; color:#000000;   
  background-attachment: fixed ;
  margin:0;
  padding:0;
}

h1,h2{
  text-align: center;
  letter-spacing: 2px;
  color: #060270;
  margin-top:50px;
  padding-right:250px;
}

/* seat layout */ 
.seating-area {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;
    margin: 20px auto;
    width: fit-content;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    gap: 10px;
    margin-bottom: 10px;
}

.seat {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    cursor: pointer;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: transform 0.2s ease;
    border: 2px solid #ddd;
    position: relative;
    z-index: 1;
}

.seat::after {
    content: "";
    background-image: url('seat.png');
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
}


.seat.available {
    background-color: white !important;
}

.seat.reserved {
    background-color: #bfbfbf !important;
    cursor: not-allowed;
    opacity: 0.8;
}


.seat.selected {
    background-color: #c27bff !important;
    border-color: #8e3bd9;
    transform: scale(1.1);
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 8px 0;
}

.legend-seat {
    width: 20px;
    height: 20px;
    border-radius: 4px;
}

.legend-seat.available {
    background-color: white;
    border: 1px solid #ccc;
}

.legend-seat.selected {
    background-color: #c27bff; 
}

.legend-seat.reserved {
    background-color: #bfbfbf; 
}

/* PAYMENT & BOOKING_CONFIRMATION STYLE*/

body {
    font-family: Arial, sans-serif;
    background: #FFFFFF;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
}

main {
    width: 90%;
    max-width: 500px;
    margin: auto;
}

.box {
    background: #FFFBF5;
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
    border: 1px solid #503D01;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
}

input[type="text"],
input[type="month"],
input[type="password"] {
    width: 96%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #503D01;
    margin-top: 5px;
}

input:disabled {
    background: #e4e4e4;
    color: #888;
    cursor: not-allowed;
}

.pay-btn {
    width: 100%;
    padding: 12px;
    background: #F1D065;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
}

.pay-btn:disabled {
    background: #c5c5c5;
    cursor: not-allowed;
}

.payment-methods h3 {
    margin-top: 0;
}

.methods {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.methods label {
    text-align: center;
    cursor: pointer;
}

.methods img {
    width: 60px;
    height: 40px;
    object-fit: contain;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid transparent;
}

.methods input[type="radio"]:checked + img {
    border-color:#F1D065;
    background: #fff7db;
}



